.claims-table {
  width: 100%;
  border-collapse: collapse;
  height: 100;
  overflow: hidden;
  border-radius: 10px;
}

.ant-table-body::-webkit-scrollbar {
  width: 6px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: lightgray;

  border-radius: 4px;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(76, 73, 73);
}

.a-style {
  text-decoration: none;
  color: #0435f8;
}

.even-row {
  background-color: #eff3f8;
}

.odd-row {
  background-color: #ffffff;
}
